
<ul>
    <li>
        <a href="/student">Student home</a>
    </li>
    <li>
        <a href="/studentCv">Student records</a>
    </li>
    <li>
        <a href="/admin">view Employed</a>
    </li>
    <li>
        <a href="/messages">Messages</a>
    </li>
</ul>