{% extends '_base.html.twig' %}

{# --------------------title of webpage ----------------------------- #}
{% block title %}Student home{% endblock %}

{% block main %}

    <h1>Welcome to the Student home page !</h1>

    <fieldset>
        <legend>Send us a message to say hi!</legend>

        {# ---------------------- sending public message to users --------------------------- #}
        <form method="post" action="/processMessage">

            <p>
                Your message:
                <br>
                <textarea name="text" cols="40" rows="5" required></textarea>
            </p>

            <p>
                <input type="hidden" name="usernameId" value="{{ username }}">
                <input type="submit"value="Send Message">
            </p>

        </form>
    </fieldset>

{% endblock %}