{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Registration Succeed{% endblock %}

{# ------------------------------------------------- #}


{# ------------------------------------------------- #}
{% block main %}
<div id="mainSection">

    <h1>
        {{ headingMessage }}
    </h1>

    <p>
        {{ otherMessage }}
    </p>
</div>
{% endblock %}
