
<ul>
    <li>
        <a href="/employer">Employer home</a>
    </li>
    <li>
        <a href="/employerCodes">Employer codes</a>
    </li>
    <li>
        <a href="/admin">view Employed</a>
    </li>
    <li>
        <a href="/adminCodes">Students CVs</a>
    </li>
</ul>