
<ul>
    <li>
        <a href="/employer">Employer home</a>
    </li>
    <li>
        <a href="/employerRecords">Download Cv's</a>
    </li>
    <li>
        <a href="/admin">view Employed</a>
    </li>
    <li>
        <a href="/adminCodes">Students CVs</a>
    </li>
</ul>