{# ---------------------- employer navigation links --------------------------- #}
<ul>
    <li>
        <a href="/employer">Employer home</a>
    </li>
    <li>
        <a href="/employerRecords">Download Cv's</a>
    </li>
    <li>
        <a href="/showPrivateMessagesEmployer">Messages</a>
    </li>
</ul>