/* basic body for the background of all pages */
body {
	background: #F5F5F5;
}

/* header flex have two things beside eachother */
header {
    display: flex;
    text-align: center;
}
/* text in the header bar */
.icon {
    flex: 1;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 3em;
    text-align: left;
}
/* signin css */
.form-control {
    width:400px;
    display: inline;
}
/* button height */
button {
    line-height: 2em;
    margin-right: 2em;
    width: 100px;
}
/*   input height  */
input {
    line-height: 2em;
}
/* main text area's on pages */
#mainSection {
    margin-top: 2em;
    text-align: center;
}
/* error on username and password not correct */
.error {
    color: red;
}
/*  name of user that has logged in styling */
.showUser {
    margin-top: 1.1em;
    margin-right: 2em;
}

/* logout where user is shown */
a.logoutButton {
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 6px 25px 0px 20px;
    display: inline-block;
    float: right;
    text-decoration: none;
    width: 50px; height: 27px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #36b0b6;
    background: -moz-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36b0b6), color-stop(100%, #2a8a8f));
    background: -webkit-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: -o-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: -ms-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
    -webkit-box-shadow: 0 3px rgba(58,87,175,.75);
    -moz-box-shadow: 0 3px rgba(58,87,175,.75);
    box-shadow: 0 3px rgba(58,87,175,.75);
    transition: all 0.1s linear 0s;
    position: relative;
    margin-left: 15px;
}
/* used for the logout hover */
a.logoutButton:hover {
    top: 3px;
    background-color:#2e458b;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* creating a message css for the link to make it look like a button */
a.createMessage {
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 6px 40px 0px 40px;
    text-decoration: none;
    width: 80px; height: 27px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #36b0b6;
    background: -moz-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36b0b6), color-stop(100%, #2a8a8f));
    background: -webkit-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: -o-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: -ms-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
    -webkit-box-shadow: 0 3px rgba(58,87,175,.75);
    -moz-box-shadow: 0 3px rgba(58,87,175,.75);
    box-shadow: 0 3px rgba(58,87,175,.75);
    transition: all 0.1s linear 0s;
    position: relative;
    margin-left: 15px;
}
/* used for the logout hover */
a.createMessage:hover {
    top: 3px;
    background-color:#2e458b;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* the table button css's */
.tableButtonAction {
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 6px 25px 25px 30px;
    display: inline-block;
    align-content: center;
    text-decoration: none;
    width: 130px; height: 27px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #36b0b6;
    background: -moz-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36b0b6), color-stop(100%, #2a8a8f));
    background: -webkit-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: -o-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: -ms-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
    -webkit-box-shadow: 0 3px rgba(58,87,175,.75);
    -moz-box-shadow: 0 3px rgba(58,87,175,.75);
    box-shadow: 0 3px rgba(58,87,175,.75);
    transition: all 0.1s linear 0s;
    position: relative;
}

/* the hover action of the table button */
.tableButtonAction:hover {
    top: 3px;
    background-color: #36b0b6;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

/* used for tables */
table {
    margin: 1em 0;
    background: #FFF;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167F92;
    width: 96%;
}

/* table row css for tables */
table tr {
    border: 1px solid #D9E4E6;
}

/* the table header css */
table th {
    border: 1px solid #FFF;
    background-color: #36b0b6;
    background: -moz-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36b0b6), color-stop(100%, #2a8a8f));
    background: -webkit-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: -o-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: -ms-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
    color: #FFF;
    padding: 0.5em;
}

/* table data css */
table td {
    display: block;
    padding: 1em;
}

/* table data css */
table td {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #D9E4E6;
    border-bottom: 1px solid #D9E4E6;
}

/* table head and data css */
table th, table td {
    text-align: left;
    margin: .25em 0.5em;
}

/* admin Index used for most pages */
.adminIndex {
    margin-left: 1.5em;
}

/* input margin's */
.adminIndex, input {
    margin-bottom: 15px;
}

.adminIndex, textarea, select {
    margin-bottom: 15px;
}

.adminIndex, blockquote {
    margin: 10px;
}

/* message form display */
.messageForm {
    display: inline;
}

/* message text margin */
.messageText {
    margin: 1em;
}