
<ul>
    <li>
        <a href="/admin">admin home</a>
    </li>
    <li>
        <a href="/adminCodes">admin codes</a>
    </li>
    <li>
        <a href="/admin">view Employed</a>
    </li>
    <li>
        <a href="/messages">Messages</a>
    </li>
</ul>