
<ul>
    <li>
        <a href="/admin">admin home</a>
    </li>
    <li>
        <a href="/registerUser">Register User</a>
    </li>
    <li>
        <a href="/employment">Employment</a>
    </li>
    <li>
        <a href="/adminMessages">Messages</a>
    </li>
</ul>