{% extends '_base.html.twig' %}

{% block pageTitle %}404 - error{% endblock %}


{% block main %}
    <div class="adminIndex">
        <h1>{{ header }}</h1>

        <p>
            {{ message }}
        </p>
    </div>
{% endblock %}
