<!doctype html>
<html lang="en">
<head>
    <title>{% block pageTitle %}{% endblock %}</title>
    <meta charset="utf-8">
    <style>
        @import "css/testReg.css";
        @import "css/basic.css";
        @import "css/nav.css";
        @import "css/footer.css";

    </style>
</head>
<body>

<header>
    <div class="icon">
        GraduateJobsDublin.itb
    </div>
    <section>
        {% if username %}
            <div class ="showUser">
                you are logged in as : <i>{{ username }}</i>
                <a href="/logout" class="logoutButton">logout</a>
            </div>
            {% else %}
        <div id="signin">
            <form class = "form-signin" role = "form"
                  action = "/login" method = "post">
                <!--<h4 class = "form-signin-heading"><?php echo $msg; ?></h4>-->
                <input type="text" class="form-control"
                       name="username" placeholder="username"
                       required autofocus>
                <input type="password" class = "form-control"
                       name="password" placeholder="password" required>
                <button class="submitButton" type="submit">Login</button>
            </form>
        </div>
        {% endif %}
    </section>
</header>

<nav>
    {% if username %}
        {% include 'admin/_adminLinks.html.twig' %}
    {% else %}
    <ul>
        <li>
            <a href="/" class="{% block indexLinkStyle %}{% endblock %}">Home</a>
        </li>

        <li>
            <a href="/register" class="{% block aboutLinkStyle %}{% endblock %}">Register</a>
        </li>

        <li>
            <a href="/contact" class="{% block contactLinkStyle %}{% endblock %}">Contact Us</a>
        </li>

        <li>
            <a href="/sitemap" class="{% block sitemapLinkStyle %}{% endblock %}">Site Map</a>
        </li>
    </ul>
    {% endif %}
</nav>

{% block main %}

{% endblock %}

<div id="footer">
    <div id="lefttext">
        Adam O'Connor <a href="mailto:adam-o-connor@hotmail.com"><img src="images/email.png" height="50" width="50"></a>
        <br>
        B00066540
    </div>
    <div id="centertext">
        GraduateJobsDublin.itb
    </div>
    <div id="righttext">
        <a href="policy.html" >Policy</a>
        <br>
        <a href="sitemap.html">Site map</a>
    </div>
</div>

</body>
</html>