<!doctype html>
<html lang="en">
<head>
    <title>EVOTE DVD - {% block pageTitle %}{% endblock %}</title>
    <meta charset="utf-8">
    <style>
        @import "css/basic.css";
        @import "css/nav.css";
        @import "css/footer.css";
    </style>
</head>
<body>

<header>
    <div class="icon">
        GraduateJobsDublin.itb
    </div>
    <div class="signin">
        <form class = "form-signin" role = "form"
              action = "<?php echo htmlspecialchars($_SERVER['PHP_SELF']);
              ?>" method = "post">
            <!--<h4 class = "form-signin-heading"><?php echo $msg; ?></h4>-->
            <input type = "text" class = "form-control"
                   name = "username" placeholder = "username"
                   required autofocus>
            <input type = "password" class = "form-control"
                   name = "password" placeholder = "password" required>
            <button class = "btn btn-lg btn-primary btn-block" type = "submit"
                    name = "login">Login</button>
        </form>
    </div>
</header>

<nav>
    <ul>
        <li>
            <a href="/" class="{% block indexLinkStyle %}{% endblock %}">Home</a>
        </li>

        <li>
            <a href="/?action=register" class="{% block aboutLinkStyle %}{% endblock %}">Register</a>
        </li>

        <li>
            <a href="/?action=contact" class="{% block contactLinkStyle %}{% endblock %}">Contact Us</a>
        </li>

        <li>
            <a href="/?action=sitemap" class="{% block sitemapLinkStyle %}{% endblock %}">Site Map</a>
        </li>
    </ul>
</nav>

{% block main %}
{% endblock %}

<div id="footer">
    <div id="lefttext">
        Adam O'Connor <a href="mailto:adam-o-connor@hotmail.com"><img src="images/e_mail.png" height="50" width="50"></a>
        <br>
        B00066540
    </div>
    <div id="centertext">
        GraduateJobsDublin.itb
    </div>
    <div id="righttext">
        <a href="policy.html" >Policy</a>
        <br>
        <a href="sitemap.html">Site map</a>
    </div>
</div>

</body>
</html>