{# ------------------base for all other webpages ------------------------------- #}
<!doctype html>
<html lang="en">
<head>
    {# --------------------- title for all pages ---------------------------- #}
    <title>{% block pageTitle %}{% endblock %}</title>
    <meta charset="utf-8">
    {# --------------------- styling for all pages ---------------------------- #}
    <style>
        @import "/css/testReg.css";
        @import "/css/basic.css";
        @import "/css/nav.css";
        @import "/css/footer.css";
        @import "/css/view.css";
    </style>
</head>
<body>

<header>
    {# ------------------ logo on top left ------------------------------- #}
    <div class="icon">
        GraduateJobsDublin.itb
    </div>
    <section>
        {# -------------------show user's login if logged in ------------------------------ #}
        {% if username %}
            <div class ="showUser">
                you are logged in as <b><i>{{ roleName }}</i></b> : <i>{{ username }}</i>
                <a href="/logout" class="logoutButton">logout</a>
            </div>
            {% else %}
        <div id="signin">
            {# ----------------------signin if no users logged in --------------------------- #}
            <form class = "form-signin" role = "form"
                  action = "/login" method = "post">
                <!--<h4 class = "form-signin-heading"><?php echo $msg; ?></h4>-->
                <input type="text" class="form-control"
                       name="username" placeholder="username"
                       required autofocus>
                <input type="password" class = "form-control"
                       name="password" placeholder="password" required>
                <button class="submitButton" type="submit">Login</button>
            </form>
        </div>
        {% endif %}
    </section>
</header>

<nav>
    {# -------------------Different nav links for different user's ------------------------------ #}

    {% if roleName is sameas('Lecturer')%}
        {% include 'admin/_adminLinks.html.twig' %}
    {% elseif roleName is sameas('Student')%}
        {% include 'student/_studentLinks.html.twig' %}
    {% elseif roleName is sameas('Employer') %}
        {% include 'employer/_employerLinks.html.twig' %}
    {% else %}
        {# ----------------------- main nav links -------------------------- #}
    <ul>
        <li>
            <a href="/" class="{% block indexLinkStyle %}{% endblock %}">Home</a>
        </li>

        <li>
            <a href="/register" class="{% block aboutLinkStyle %}{% endblock %}">Register</a>
        </li>

        <li>
            <a href="/contact" class="{% block contactLinkStyle %}{% endblock %}">Contact Us</a>
        </li>

        <li>
            <a href="/sitemap" class="{% block sitemapLinkStyle %}{% endblock %}">Site Map</a>
        </li>
    </ul>
    {% endif %}
</nav>

{% block main %}

{% endblock %}

{# --------------------- footer for all pages ---------------------------- #}
<div id="footer">
    <div id="lefttext">
        Adam O'Connor <a href="mailto:adam-o-connor@hotmail.com"><img src="/images/email.png" height="50" width="50"></a>
        <br>
        B00066540
    </div>
    <div id="centertext">
        GraduateJobsDublin.itb
    </div>
    <div id="righttext">
        <a href="policy.html" >Policy</a>
        <br>
        <a href="sitemap.html">Site map</a>
    </div>
</div>

</body>
</html>

