{% extends '_base.html.twig' %}

{# --------------------  title of page ----------------------------- #}
{% block pageTitle %}Error WHOOPS{% endblock %}

{# -------------------- main block section ----------------------------- #}
{% block main %}
    <div class="adminIndex">
        <h1>Whoops!</h1>

        <p class="error">
            {{ message }}

            {% if message2 %}
                <br>
                {{ message2 }}
            {% endif %}
        </p>
    </div>
{% endblock %}
