{% extends '_base.html.twig' %}

{# -------------------- title of page ----------------------------- #}
{% block pageTitle %}Home{% endblock %}



{# ---------------------main block section ---------------------------- #}
{% block main %}
<div id="mainSection">

    {% if errorMessage %}
        <p class="error">
            {{ errorMessage }}
        </p>
        <hr>
    {% endif %}

    <h1>
        Welcome to the Graduate Jobs homepage.
    </h1>

    <p>
        This site offer's students the oppertunity to get a job and to see job<br>
        listing's lecturer's may comment on your curriculum vitae suggesting changes.<br>
        That can be persued, They can also see if the person is already employed<br>
        or not.
    </p>
    <p>
        Please register for an account if you have not done so already.
    </p>
</div>
{% endblock %}
