{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Home page{% endblock %}

{# ------------------------------------------------- #}
{% block indexLinkStyle %}current_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

    <h1>
        Welcome to the Graduate Jobs homepage.
    </h1>

    <p>
        This site offer's students the oppertunity to get a job and to see job<br>
        listing's lecturer's may comment on your cv suggesting changes.<br>
        That can be persued, They can also see if the person is already employed<br>
        or not.
    </p>
    <p>
        Please register for an account if you have not done so already.
    </p>


{% endblock %}
