
<form action="/deleteMessage/{{ message.id }}" method="post" class="messageForm">
    <input type="submit" value="(delete)">
</form>

<form action="/editMessage/{{ message.id }}" method="post" class="messageForm">
    <input type="submit" value="(edit)">
</form>
