{# ------------------ replying to a private message ------------------------------- #}
<form action="/adminPrivateMessage/{{ message.sender }}" method="post" class="messageForm">
    <input type="submit" value="Reply">
</form>
