
<form action="/privateDeleteMessage/{{ message.id }}" method="post" class="messageForm">
    <input type="submit" value="delete">
</form>

<form action="/privateEditMessage/{{ message.id }}" method="post" class="messageForm">
    <input type="submit" value="edit">
</form>
