{% extends '_base.html.twig' %}

{# ----------------- title of the webpage -------------------------------- #}
{% block pageTitle %}{{ title }}{% endblock %}

{# ------------------main block section ------------------------------- #}

{% block main %}
<div id="mainSection">

    <h1>
        {% if headingMessage %}
            {{ headingMessage }}
        {% endif %}
    </h1>

    <p>
        {% if otherMessage %}
            {{ otherMessage }}
        {% endif %}
    </p>
    <p>
        {% for file in files %}
            {{ file }}
        {% endfor %}
    </p>
</div>
{% endblock %}
