{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Registration Succeed{% endblock %}

{# ------------------------------------------------- #}


{# ------------------------------------------------- #}
{% block main %}
<div id="mainSection">

    <h1>
        Welcome you are now register'd.
    </h1>

    <p>
        you can now login and create your criculeam vitae to look
        for jobs in your area.
    </p>
</div>
{% endblock %}
