{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Registration Succeed{% endblock %}

{# ------------------------------------------------- #}


{# ------------------------------------------------- #}
{% block main %}
<div id="mainSection">

    <h1>
        {% if headingMessage %}
            {{ headingMessage }}
        {% endif %}
    </h1>

    <p>
        {% if otherMessage %}
            {{ otherMessage }}
        {% endif %}
    </p>
</div>
{% endblock %}
